<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanchun.dao.RmMenuInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yuanchun.entry.RmMenuInfo" >
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="MENU_LEVEL" property="menuLevel" jdbcType="VARCHAR" />
    <result column="PARENT_MENU_ID" property="parentMenuId" jdbcType="VARCHAR" />
    <result column="MENU_ORDER" property="menuOrder" jdbcType="DECIMAL" />
    <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
    <result column="MENU_STATUS" property="menuStatus" jdbcType="VARCHAR" />
    <result column="MENU_TYPE" property="menuType" jdbcType="VARCHAR" />
    <result column="ICON_NAME" property="iconName" jdbcType="VARCHAR" />
    <result column="MENU_DESC" property="menuDesc" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryMenuList" resultType="com.yuanchun.vo.RmMenuInfoVo">
        SELECT * FROM rm_menu_info
    </select>
</mapper>